<form ng-submit="formSubmit()" class="ui form">

  <segment-container title="General">
    <person-form-general></person-form-general>
  </segment-container>

  <segment-container title="Accounts" onadd="addAccount">
      
      <person-form-account
        account="account"
        class="four fields"
        ng-repeat="account in input.accounts"
        actions="true"
        onremove="removeAccount(account)">
      </person-form-account>

  </segment-container>


  <button type="submit" class="ui button" tabindex="0">Save</button>
  <a href="#/people" class="ui button red">Cancel<a>

</form>