<h3>People</h3>
<table class="ui celled table inverted">
  <thead>

    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>
        Birthdate
        <a href="#/people/new" class="ui button right floated">Create new</a>
      </th>
    </tr>

  </thead>

  <tbody>

    <tr ng-repeat="person in people" ng-click="OpenPerson(person._id)">

      <td>
        {{person.firstname}}
      </td>

      <td>
        {{person.lastname}}
      </td>

      <td>
        {{person.birthdate | date}}
      </td>

    </tr>

  </tbody>

</table>